node_modules/
npm-debug.log*
yarn-error.log
pnpm-lock.yaml
package-lock.json

.env
.env.local
.env.development
.env.production
.env.test

logs/
*.log
yarn-debug.log*
yarn-error.log*
debug.log*
out.log

build/
dist/
.DS_Store
.nyc_output/
coverage/

.vscode/
.idea/
*.swp
*.swo

Thumbs.db
.DS_Store

.serverless/

/.next
.next/
out/
.cache/
public/
coverage/

docker-compose.override.yml

data/
dump/
*.lock
mongod.lock
mongodb.log
*.json
*.bson

*.bak
*.pid
*.seed
*.log
